TELEGRAM_BOT_TOKEN=8517478816:AAEpQXYPTksKK-2Ey1ggdmZzaVh1F_a1goo
TELEGRAM_CHANNEL_ID=-1002443440155
TWITCH_CLIENT_ID=e4rsp989akxbhr23v7j8n77rcnmz7p
TWITCH_CLIENT_SECRET=gqq57a5qt6grgsak94tljev6t0kea7
TWITCH_USERNAME=KARLET7
TWITCH_USERNAMES=KARLET7
CHECK_INTERVAL_SECONDS=60
REQUEST_TIMEOUT_SECONDS=15
MAX_RETRIES=3
LOG_LEVEL=INFO
STATE_FILE=data/state.json
LOG_FILE=logs/bot.log
TELEGRAM_ADMIN_IDS=1177527653
